.wrapper {
  margin: 10px;
  padding: 30px;
  width: 800px;
  height: 800px;
  border: 1px solid pink;
}
.item {
  position: relative;
  padding: 20px;
  border: 2px solid blueviolet;
}
.item:after {
  position: absolute;
  margin-left: 20px;
  /* 이부분을 기준으로  */
}
.item:hover:after {
  content: "Guess and Click!";
}
.item.open:after {
  content: "x";
}
.item img {
  width: 100px;
  height: 100px;
}
.context {
  display: none;
  position: absolute;
  padding: 15px;
  top: 0;
  left: 200px;
  width: 60%;
  height: 60%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.item.open .context {
  display: block;
}
